@(propertyForm: Form[Property])(implicit messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

    <h1>Add a computer</h1>

    @form(routes.Application.save()) {

        <fieldset>

            @inputText(propertyForm("address"), '_label -> "address")
            @inputText(propertyForm("postcode"), '_label -> "postcode")
            @inputText(propertyForm("latitude"), '_label -> "latitude")
            @inputText(propertyForm("longitude"), '_label -> "longitude")
            @inputText(propertyForm("surface"), '_label -> "surface")
            @inputText(propertyForm("bedrooms"), '_label -> "bedrooms")
            @inputText(propertyForm("price"), '_label -> "price")


        </fieldset>

        <div class="actions">
            <input type="submit" value="Create this computer" class="btn primary"> or
            <a href="@routes.Application.list()" class="btn">Cancel</a>
        </div>

    }

}
