@(id: Long, propertyForm: Form[Property])(implicit messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Edit computer</h1>
    
    @form(routes.Application.update(id)) {
        
        <fieldset>

            @inputText(propertyForm("address"), '_label -> "address")
            @inputText(propertyForm("postcode"), '_label -> "postcode")
            @inputText(propertyForm("latitude"), '_label -> "latitude")
            @inputText(propertyForm("longitude"), '_label -> "longitude")
            @inputText(propertyForm("surface"), '_label -> "surface")
            @inputText(propertyForm("bedrooms"), '_label -> "bedrooms")
            @inputText(propertyForm("price"), '_label -> "price")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this computer" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Application.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this computer" class="btn danger">
    }
    
}
