@(currentPage: Page[(Property, PriceHistory)], currentOrderBy: Int, currentFilter: String)(implicit request: play.api.mvc.RequestHeader, flash: play.api.mvc.Flash, messages: Messages)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Application.list(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) { @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"} }">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main {
    
    <h1>@Messages("properties.list.title", currentPage.total)</h1>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">
        
        @helper.form(action=routes.Application.list()) {
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by computer name..."/>
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary"/>
        }
        
        <a class="btn success" id="add" href="@routes.Application.create()">Add a new computer</a>
        
    </div>
    
    @Option(currentPage.items).filterNot(_.isEmpty).map { computers =>
        
        <table class="computers zebra-striped">
            <thead>
                <tr>
                    @header(2, "Address")
                    @header(3, "Postcode")
                    @header(4, "Latitude")
                    @header(5, "Longitude")
                    @header(6, "Surface")
                    @header(7, "Bedrooms")
                    @header(8, "Price")
                </tr>
            </thead>
            <tbody>

                @properties.map {
                    case (property, priceHistory) => {
                        <tr>
                            <td><a href="@routes.Application.edit(property.id.get)">@property.id</a></td>
                            <td>
                                @property.address
                            </td>
                            <td>
                                @property.postcode
                            </td>
                            <td>
                                @property.latitude
                            </td>
                            <td>
                                @property.longitude
                            </td>
                            <td>
                                @property.surface.getOrElse { <em>-</em> }
                            </td>
                            <td>
                                @property.bedrooms.getOrElse { <em>-</em> }
                            </td>
                            <td>
                                @property.price.getOrElse { <em>-</em> }
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + computers.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }

        
}

            